$variables-dark: (
        primary-color: #fff,
        secondary-color: #14141c,
        color: #c5c5c5,
        grey: #aeaeae,
        grey-2: #888787,
        post-text: #1d1c289c,
        bg: #0c0c11,

        button-bg: #1b1b24,
        button-text-color: #aeaeae,

        menu-item: #1b1b24,
        menu-item-hover: rgba(36, 36, 45, 0.65),
        menu-item-icon-color: rgba(183, 183, 186, 0.58),

        dropdown-shadow: rgba(55, 54, 57, 0.33),
        filter-button-hover: rgba(42, 40, 65, 0.48),

        search-input-bg: #1c1b29,
        search-input-bg-focus: #1c1b29,

        modal-bg: #0000005e,

        title-bg: #23232d,
        title-color: #b2b6c1,

        border-color: #313131,

        ghost-background: linear-gradient(45deg, #35334d, #33314d),
        post-button-color: #888791,

        box-icon-fill: #b0b0b0,

        i-selected: #2e2d39a6,
        i-hover: #2e2d3954,

        right-panel-bg: #1a1a204f,
        right-panel-box: #14141c,

        container-background: #14141c,

        danger: #ff4646,
        warning: #ffaa0d,
);