$variables-light: (
        primary-color: #fff,
        secondary-color: #fff,
        color: #54535e,
        grey: #43424d,
        grey-2: #5a5a5a,
        post-text: #eaeaea,
        bg: #f0f2f5,

        button-bg: #e4e6eb,
        button-text-color: #000,

        menu-item: #e4e6eb,
        menu-item-hover: #f2f2f2,
        menu-item-icon-color: #000,

        dropdown-shadow: rgba(128, 128, 128, 0.25),
        filter-button-hover: rgba(255, 255, 255, 0.82),

        search-input-bg: #efefef,
        search-input-bg-focus: #dedede,

        modal-bg: #b9b9b95e,

        title-bg: #43424d,
        title-color: #fff,

        border-color: #eaeaea,

        ghost-background: linear-gradient(45deg, #35334d, #33314d),
        post-button-color: #676482,

        box-icon-fill: #b0b0b0,

        i-selected: #e4e3e3,
        i-hover: #e4e3e380,

        right-panel-bg: #e4e6eb,
        right-panel-box: #fff,

        container-background: #2a2841,

        danger: #ff4646,
        warning: #ffaa0d,
);