$variables-purple: (
        primary-color: #fff,
        secondary-color: #2a2841,
        color: #c5c5c5,
        grey: #aeaebb,
        grey-2: #888787,
        post-text: #3b3958,
        bg: #1d1c2d,

        button-bg: #1d1c2d99,
        button-text-color: #aeaebb,

        menu-item: #201f2f,
        menu-item-hover: #2c2c46af,
        menu-item-icon-color: #9695a4d6,

        dropdown-shadow: rgba(94, 95, 113, 0.44),
        filter-button-hover: rgba(42, 40, 65, 0.48),

        search-input-bg: #1c1b29,
        search-input-bg-focus: #1c1b29,

        modal-bg: #0000005e,

        title-bg: #434361,
        title-color: #b2b6c1,

        border-color: #3e3b5b,

        ghost-background: linear-gradient(45deg, #35334d, #33314d),
        post-button-color: #676482,

        box-icon-fill: #b0b0b0,

        i-selected: rgba(74, 71, 95, 0.65) ,
        i-hover: #35334aa6,

        right-panel-bg: #2e2c464f,
        right-panel-box: #2a2841,

        container-background: #2a2841,

        danger: #ff4646,
        warning: #ffaa0d,
);