@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.header-dropdowns {
    .notifications-dropdown {
        display: none;
        position: absolute;
        z-index: 99999;
        top: 70px;
        right: calc(var(--desktop-right-menu-width) + 65px);
        @include animation('dropdown-show .3s');

        .notifications-container {
            background-color: var(--secondary-color);
            border-radius: 15px;
            width: 390px;
            box-shadow: 0 0 10px 0 var(--dropdown-shadow);

            .notifications-content {
                .title {
                    color: var(--grey);
                    padding: 15px;
                    border-bottom: 1px solid var(--border-color);
                    @include font('20px', 'Gilroy-Bold');
                }

                .content {
                    max-height: 63vh;
                    overflow-y: auto;
                    padding: 7.5px;

                    .follow-requests,
                    .item {
                        padding: 7.5px;
                        display: flex;
                        border-radius: 8px;
                        transition: all 0.2s;
                        cursor: pointer;

                        .avatar,
                        .avatar img,
                        .icon {
                            --height: 50px;

                            display: flex;
                            align-items: center;
                            justify-content: center;

                            height: var(--height);
                            width: var(--height);

                            background-color: var(--i-selected);

                            border-radius: 100%;
                            pointer-events: none;
                        }

                        .text,
                        .details {
                            margin-left: 9px;
                        }

                        &:active {
                            transform: scale(0.95);
                        }

                        &:hover {
                            background: var(--i-hover);
                        }
                    }

                    .follow-requests {
                        display: flex;
                        align-items: center;

                        .icon svg {
                            height: 30px;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;

                            span {
                                color: var(--grey);

                                &:nth-child(1) {
                                    @include font('18px', 'Gilroy-Bold');
                                }

                                &:nth-child(2) {
                                    @include font('15px', 'Gilroy-Medium');
                                }
                            }
                        }
                    }
                }

                .empty {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 30px;

                    .icon {
                        svg {
                            height: 70px;
                        }
                    }

                    .text {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        text-align: center;

                        .top span {
                            color: var(--grey);
                            @include font('20px', 'Gilroy-Bold');
                        }

                        .desc span {
                            color: var(--grey);
                            @include font('18px', 'Gilroy-Medium');
                        }
                    }
                }
            }
        }
    }
}