@use "sass:math";
@import "../../../styles/abstracts/mixins";
@import "../../../styles/abstracts/variables";

.categories-container {
    $story-height: 130px;
    $story-width: 170px;

    height: $story-height;
    border-radius: 20px;

    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;

    .categories {
        max-width: var(--main-width);
        width: 100%;

        display: flex;
        grid-gap: 20px;

        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;

        .category-container {
            border-radius: 20px;

            height: $story-height;
            width: math.div($story-height, 2) + $story-width;

            display: flex;
            flex-direction: column;
            justify-content: center;

            transition: .1s;
            cursor: pointer;

            .category-content {
                width: math.div($story-height, 2) + $story-width;
                height: 100%;
                border-radius: 20px;
                background: var(--app-color);
                position: relative;

                .category-image,
                .category-image img {
                    border-radius: 20px;
                    height: $story-height;
                    width: 100%;
                }

                .category-image {
                    .category-image-filter {
                        position: absolute;
                        border-radius: 20px;
                        height: 100%;
                        width: 100%;
                        background-image: linear-gradient(-5deg, #00000069, rgba(0, 0, 0, 0.52));

                        .category-name {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: $story-height;

                            span {
                                color: rgba(255, 255, 255, 0.90);
                                @include font('23px', 'Gilroy-Bold');
                            }
                        }
                    }
                }
            }

            &:hover {
                transform: scale(0.98);
            }

            &:active {
                transform: scale(0.90);
            }
        }
    }

    .categories-button-container {
        position: absolute;

        display: flex;
        align-items: center;

        z-index: 1;
        height: 100%;
        width: 120px;
        transition: .1s;

        background: linear-gradient(var(--button-background-deg), rgba(255, 255, 255, 0), var(--bg));

        .categories-button {
            display: flex;
            align-items: center;
            background: var(--secondary-color);
            border-radius: 100%;
            padding: 9px;
            filter: drop-shadow(0 0 4px #80808003);
            transition: .1s;
            cursor: pointer;
            backdrop-filter: blur(50px);

            svg {
                fill: var(--grey);
                height: 40px;
            }

            &:hover {
                background: var(--filter-button-hover);
            }

            &:active {
                transform: scale(0.90);
            }
        }
    }

    .categories-left-button-container {
        --button-background-deg: 270deg;
        top: 0;
        left: 0;
        justify-content: flex-start;
        opacity: 0;
        display: none;

        svg {
            transform: rotate(180deg);
        }
    }

    .categories-right-button-container {
        --button-background-deg: 90deg;
        top: 0;
        right: 0;
        justify-content: flex-end;
    }
}