@import "../../../styles/abstracts/mixins";

.stories-container {
    height: 270px;
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    padding: 0;

    .stories {
        max-width: var(--main-width);
        width: 100%;
        display: flex;
        grid-gap: 20px;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;

        .story {
            border-radius: 20px;
            height: 270px;
            width: 165px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: .1s;
            cursor: pointer;

            .story-content {
                width: 165px;
                height: 100%;
                border-radius: 20px;
                background: var(--app-color);
                position: relative;

                .story-create-container {
                    position: absolute;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    padding: 28px;
                    z-index: 1;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    .story-create {
                        background: rgba(255,255,255,.27);
                        border-radius: 100%;
                        backdrop-filter: blur(3px);
                        width: 68px;
                        height: 68px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        svg {
                            height: 45px;
                            fill: rgba(255,255,255,.61);
                        }
                    }
                }

                .story-avatar {
                    position: absolute;
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    padding: 25px;
                    z-index: 1;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        border: 4px solid rgba(61,61,61,.09);
                        border-radius: 100%;
                        height: 74px;
                        width: 74px;
                    }
                }

                .story-image {
                    border-radius: 20px;
                    height: 245px;
                    width: 100%;

                    .story-image-filter {
                        position: absolute;
                        border-radius: 20px;
                        height: 100%;
                        width: 100%;
                        background-image: linear-gradient(-5deg, #00000069, rgba(0, 0, 0, 0.172));
                    }

                    img {
                        border-radius: 20px;
                        height: 245px;
                        width: 100%;
                    }
                }
            }

            .story-username {
                margin-top: 7.5px;
                display: flex;
                justify-content: center;

                span {
                    color: var(--grey);
                    @include font('16px', 'Gilroy-Bold');
                    font-variant: normal;
                }
            }

            &:hover {
                transform: scale(0.98);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }

    .btn-right {
        --button-background-deg: 90deg;
        top: 0;
        right: 0;
        justify-content: flex-end;
    }

    .btn-left {
        --button-background-deg: 270deg;
        top: 0;
        left: 0;
        justify-content: flex-start;
        opacity: 0;
        display: none;

        .btn {
            svg {
                transform: rotate(180deg) !important;
            }
        }
    }

    .btn-container {
        position: absolute;
        display: flex;
        align-items: center;
        z-index: 1;
        height: 100%;
        width: 120px;
        transition: .1s;
        background: linear-gradient(var(--button-background-deg), rgba(255, 255, 255, 0), var(--bg));

        .btn {
            display: flex;
            align-items: center;
            background: var(--secondary-color);
            border-radius: 100%;
            padding: 9px;
            filter: drop-shadow(0 0 4px #80808003);
            transition: .1s;
            cursor: pointer;
            backdrop-filter: blur(50px);

            svg {
                fill: var(--grey);
                height: 40px;
            }

            &:hover {
                background: var(--filter-button-hover);
            }

            &:active {
                transform: scale(0.9);
            }
        }
    }
}