//noinspection ALL
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../../../public/assets/fonts/Gilroy-Medium/040a78b437acd0433612f92e61d04a1b.ttf");
}

//noinspection ALL
@font-face {
    font-family: "Gilroy-Light";
    src: url("../../../public/assets/fonts/Gilroy-Light/Gilroy-Light.ttf") format("truetype");
}

//noinspection ALL
@font-face {
    font-family: "Gilroy-Regular";
    src: url("../../../public/assets/fonts/Gilroy-Regular/Gilroy-Regular.ttf") format("truetype");
}

//noinspection ALL
@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../../public/assets/fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("truetype");
}